img {
	width: 250px;
}
body  {
background-color: #D6EFFF;
font-family: 'Quattrocento', serif;		
}
h1,h2,h3,h4,h5,h6 {
	color: #554640;
}
.call-to-action  {
	color: #FEFEFF;
	background-color: #FE654F;
	padding: 5px;
	margin: 20px;
	text-decoration: none;
}

.call-to-action1 {
	color: #FE654F;
	background-color: #FEFEFF;
	font-size: 1.5em;
	padding: 5px;
	margin: 8px;
	text-decoration: none;
	margin-left: 43%;
}

.call-to-action2 {
	color: #FE654F;
	background-color: #FEFEFF;
	font-size: 1.5em;
	padding: 5px;
	margin: 8px;
	text-decoration: none;
	margin-left: 2%;
}

h1 {
	text-align: center;
	font-size: 4.5em;
}

h2.home {
	text-align: center;
}

/*Contact Form*/

h2.contact {
	text-align: center;
}

/*Product Page*/

.col50 {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-top: 5%;
}

img.hero{
	width: 95%;
	height: 600px;
}

img.thumbnail {
	width: 200px;
	margin-top: 1%;
	margin-left: 1%
}

img.thumbnail2 {
	width: 200px;
	height: 185.19px;
	margin-top: 1%;
	margin-left: 1%;
}

h2.product {
	font-size: 2.5em;
	padding-bottom: 8px;
	padding-top: 8px;
}

h3.detail {
	margin-top: 8px;
	margin-bottom: 8px;
}

.call-to-action3 {
	color: #FEFEFF;
	background-color: #FE654F;
	padding: 5px;
	margin: 0px;
	text-decoration: none;
}

/*Checkout*/

.col70 {
	width: 70%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 20px;
}

.col30 {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 20px;
}

.cart {
	width: 100%;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	padding: 10px;
}

.cart thead {
	border-top: 2px solid #6A040F;
}

.cart tbody {
	text-align: center;
}

button.call-to-action {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	margin-left: 10%;
}

.order-summary .call-to-action {
	width: 80%;
	display: inline-block;
	text-align: center;
}

.order-summary {
	background-color: #c2d3de;
	padding: 20px;
}

h3.order {
	text-align: center;
}








